<div class="bubble-menu" fxFlex="60%" fxFlex.lt-md="100" fxLayoutAlign="space-around center" fxLayoutWrap>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category blue" fxLayoutAlign="center center">
      <h2>Bookings</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category orange" fxLayoutAlign="center center">
      <h2>Maintaince</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category violet" fxLayoutAlign="center center">
      <h2>Payments</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category green" fxLayoutAlign="center center">
      <h2>Alerts</h2>
    </div>
  </div>
</div>