<div class="bubble-menu" fxFlex="60%" fxFlex.lt-md="100" fxLayoutAlign="space-around center" fxLayoutWrap>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category blue" fxLayoutAlign="center center" routerLink="bookings">
      <h2>Facilities</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center" >
    <div class="category orange" fxLayoutAlign="center center" routerLink="maintenance" >
      <h2>Maintenance</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category violet" fxLayoutAlign="center center" routerLink="benefits">
      <h2>Benefits</h2>
    </div>
  </div>
  <div fxFlex="50%" fxLayoutAlign="center center">
    <div class="category green" fxLayoutAlign="center center" routerLink="alerts">
      <h2>Alerts & <br />
      Notifications</h2>
    </div>
  </div>
</div>