.category {
    height: 200px;
    width: 200px;
    margin-bottom: 2em;
    color: white;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    filter: alpha(opacity=50); /* For IE8 and earlier */

    &:focus {
        outline: none;
        outline-style:none;
        border: 0;
        box-shadow:none;
        border-color:transparent;
    }

    &:hover {
        opacity: 0.9;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

    &.green {
        background-color: green;

    }
    &.orange {
        background-color: orange;

    }
    &.violet {
        background-color: violet;

    }
    &.blue {background-color: lightskyblue;
  
}

@media screen and (max-width: 992px) {

    .category {
        height: 150px;
        width: 150px;
    }
        h2 {
            font-size: 20px;
        }
    }}