<div class="bg-image__fullwidth container">
    <div fxLayout="column">
      <div fxFlex="50px"></div>
      <div fxFlex="700px" fxLayout="row" fxFlex.lt-md="400px" fxLayoutAlign="center center">
        <div fxFlex="6%" fxFlex.lt-md="2%"></div>
        <div fxFlex="500px" fxHide.lt-md>
          <h1 class="mat-display-1">
            Smarties
            <br /> The Happy Way
            <br />of Living</h1>
        </div>
        <div fxFlex="70%" fxHide.lt-md>
          <div class="display-box" [@slideAnimation]='state' routerLink="/facilities"><h1 mat-display-1><mat-icon>arrow_forward</mat-icon></h1></div>
        </div>
      </div>
      <div fxFlex="auto" fxFlexAlign="center">
          <button mat-raised-button color="primary" fxHide.gt-sm routerLink="/facilities">Explore</button>
            
    </div>
  </div>