h1 {
    color: white;
}



.display-box {
    margin-top: -50px;
    width: 250px;
    height: 250px;
    margin-left: 200px;
    display: block;
    cursor: pointer;    
    background-color: lightblue;
    opacity: 0.8;
    border-radius: 50%;

    
    &:focus {
        outline: none;
        outline-style:none;
        border: 0;
        box-shadow:none;
        border-color:transparent;
    }

    &:hover {
        opacity: 0.9;
    }

    .material-icons {
        font-size: 100px!important;
        
    }

    h1 {
        font-size: 12em;
        color: white;
        font-weight: 500;
        margin-left: 80px;
        line-height: 230px;        
    }

}

@media screen and (max-width: 992px) {
    h1 {
        font-weight: 500;
        font-size: 4rem;
        line-height: 5rem;
    }
}


.container {
    height: calc(100vh);
}


@media screen and (max-width: 599px) {

    .container {
        height: calc(100vh);
    }
}
