
/*  global styles */

* {
    margin: 0;
    padding: 0;

}


body {
    background-color: white;
}

button {
    width: 16em;
    height: 3em;
}

.bg-image__fullwidth {
    background-image: url(./assets/hk_bg2.jpg);
    background-position: center left;
    background-repeat:  no-repeat;
    background-attachment: absolute;
    background-size:  cover;
    background-color: #999;
    }


  
    